*{
	font-family: 'Raleway', sans-serif;
	color: #687a8f;
}
.page-header{	
	margin-top: 0px;
	background-color: #687a8f;
	color: white;
}
#subhead{
	color: white;
	font-size: 20px;
}
h1{
	margin-top: 0px;
	padding-top: 10px;
	font-size: 40px;
	font-family: 'Monoton', cursive;
}
.panel-default .panel-heading{
	background-color: #f7882f;
	color: white;
}
.panel-body{
	overflow-x:auto;
	background-color: #dcc7aa
}
.container{
	margin-top: 0px;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}